<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
rel="stylesheet"
/>

<style>
    body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
</style>
    <title>Document</title>
</head>
  <body>
    
   
     
    <!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
     <a
          href="/supervisor"
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
        >
         <span>Main dashboard</span>
        </a>
        <a href="/supervisor" class="list-group-item list-group-item-action py-2 ripple active">
          <i class=" fa fa-light fa-gauge me-3"></i><span>Dashboard</span>
        </a>
        <a href="/supervisor/thesis" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fa fa-book fa-fw me-3"></i><span>Thesis</span></a
        >
        <a href="/supervisor/students" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fa fa-duotone fa-users me-3"></i><span>Students</span></a
      >
        <a href="/supervisor/students/message" class="list-group-item list-group-item-action py-2 ripple"
          ><i class=" fa fa-brands fa-rocketchat me-3"></i><span>Messages</span></a
        >
       
        <a href="/supervisor/approval" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-lock fa-fw me-3"></i><span>Approval</span></a
      >
        <!-- <a href="/supervisor/Report" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fa fa-duotone fa-marker me-3"></i><span>Report</span></a
        > -->
        
        <a href="/logout" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>LogOut</span>
        </a>
       
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <!-- <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="25"
          alt="MDB Logo"
          loading="lazy"
        /> -->
      </a>
     
       <!-- Right links -->
       <ul class="navbar-nav ms-auto d-flex flex-row">
       
       
        <li class="nav-item dropdown  me-5">
          welcome, 
          <a class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <%- user.fName%>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
          
          </ul>
        </li>
        
       
        
        


      </ul>
    </div>
    <!-- Container wrapper -->
      
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

            <!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4  ms-5 me-5 text-center">
                    
                    <div class="row mt-5 " style="margin-right: 50px;">
                        <div class="col-md-4   justify-content-center">
                            <div class="card text-bg-primary mb-3 " >
                                <div class="card-header">Project Phase</div>
                                <div class="card-body ">
                                  
                                  <p class="card-text">
                                    Student: <%- studentdetail.fName +" " + studentdetail.lName%> <br>
                                    Thesis Status: <%- studentdetail.thesisStatus%>
                                  
                                  </p>
                                  <form action="/supervisor/student/message/<%- studentdetail.ID %>" method="get" style="display: inline; margin-right: 5px;">
                                    
                                    <button type="submit" id="approve" class="btn btn-outline-warning" >Message</button>
                                  </form> 
                                  
                                </div>
                            </div>
                        </div>

                        <div class="col">
                          <div class="card me-5">
                            <div class="card-body">
                              <h5>Upload documentation to Student</h5>
                              <br>
                                <!-- Add the following code to display the flash message -->
                                <% if (messages) { %>
                                  <div class="alert alert-success mt-3" id="flashMessage">
                                    <%= messages %>
                                  </div>
                                <% } %>

                                <script>
                                  // Function to remove the flash message after 3 seconds
                                  function removeFlashMessage() {
                                    const flashMessage = document.getElementById('flashMessage');
                                    if (flashMessage) {
                                      setTimeout(() => {
                                        flashMessage.style.display = 'none';
                                      }, 1000); // 3 seconds (3000 milliseconds)
                                    }
                                  }
                                
                                  // Call the function when the page is loaded
                                  window.addEventListener('DOMContentLoaded', () => {
                                    removeFlashMessage();
                                  });
                                </script>
                                

                                
                                
                                
                                
                                
                              
                              <ul class="text-danger">
                                <li>Ensure documents are in the correct format (i.e., docx)</li>
                                <li>Ensure documents are named according to thesis chapters (e.g., Chapter one, chapter 2)</li>
                              </ul>
                              <form action="/supervisor/student/upload" method="post" enctype="multipart/form-data">
                                <!-- Add a hidden input field to store the student ID -->
                                <input type="hidden" name="studentID" value="<%- studentdetail.ID %>">
                                <input type="hidden" name="uploaderType" value="supervisor"> <!-- Indicate that the uploader is a supervisor -->
                                <div class="input-group mb-3 mt-5">
                                  <!-- Add the "name" attribute to the file input -->
                                  <input type="file" class="form-control" name="document" id="inputGroupFile02">
                                  <button class="btn btn-success input-group-text" type="submit" style="color: black;">Upload</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-5 ms-5" style="margin-right: 50px;">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                              Chapter Approval
                            </div>
                            <div class="card-body">
                              <ul class="">
                                <li class="mt-3 ">
                                    
                                    <form action="/chapter" method="post">
                                      <h5 style="display: inline;">Chapter 1</h5> 
                                      <input type="hidden" name="studentID" value="<%- studentdetail.ID %>">
                                      <input type="text" name="chapter"value="chapter 1" hidden>
                                      <button type="submit" class="btn bg-primary ms-5">Done</a>

                                    </form>
                                        
                                </li>
                                <li class="mt-3 ">
                                    
                                  <form action="/chapter" method="post">
                                    <h5 style="display: inline;">Chapter 2</h5>
                                    <input type="hidden" name="studentID" value="<%- studentdetail.ID %>"> 
                                    <input type="text" name="chapter" value="chapter 2" hidden>
                                    <button type="submit" class="btn bg-primary ms-5">Done</a>

                                  </form>
                                      
                              </li>
                              <li class="mt-3 ">
                                    
                                <form action="/chapter" method="post">
                                  <h5 style="display: inline;">Chapter 3</h5> 
                                  <input type="hidden" name="studentID" value="<%- studentdetail.ID %>">
                                  <input type="text" name="chapter" value="chapter 3" hidden>
                                  <button type="submit" class="btn bg-primary ms-5">Done</a>

                                </form>
                                    
                            </li>
                            <li class="mt-3 ">
                                    
                              <form action="/chapter" method="post">
                                <h5 style="display: inline;">Chapter 4</h5> 
                                <input type="hidden" name="studentID" value="<%- studentdetail.ID %>">
                                <input type="text" name="chapter" value="chapter 4" hidden>
                                <button type="submit" class="btn bg-primary ms-5">Done</a>

                              </form>
                                  
                          </li>
                          <li class="mt-3 ">
                                    
                            <form action="/chapter" method="post">
                              <h5 style="display: inline;">Chapter 5</h5> 
                              <input type="hidden" name="studentID" value="<%- studentdetail.ID %>">
                              <input type="text" name="chapter" value="chapter 5" hidden>
                              <button type="submit" class="btn bg-primary ms-5">Done</a>

                            </form>
                                
                        </li>
                        <li class="mt-3 ">
                                    
                            <form action="/chapter" method="post">
                              <h5 style="display: inline;">Formating</h5> 
                              <input type="hidden" name="studentID" value="<%- studentdetail.ID %>">
                              <input type="text" name="chapter" value="Formating" hidden>
                              <button type="submit" class="btn bg-primary ms-5">Done</a>

                            </form>
                                
                        </li>
                        <li class="mt-3 ">
                                    
                            <form action="/chapter" method="post">
                              <h5 style="display: inline;">Defense</h5> 
                              <input type="hidden" name="studentID" value="<%- studentdetail.ID %>">
                              <input type="text" name="chapter" value="Approve For Defense" hidden>
                              <button type="submit" class="btn bg-primary ms-5">Done</a>

                            </form>
                                
                        </li>
                              </ul>
                              <!-- <form action="" method="post">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Add Your TODO" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
                                  </div>
                              </form> -->
                              
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                              Thesis uploads
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        
                                        <th scope="col">File</th>
                             
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                       
                                        <td><a href="#">Thesis Mangement System-Introduction</a></td>
                                       
                                        
                                      </tr>
                                      <% studentdetail.uploads.forEach((file) => { %>
                                        <% if (file.sender === 'student') { %>
                                          <a href="/supervisor/students/<%-studentdetail.ID%>/student/<%-file.filename%>"><%-file.filename%></a>
                                          <br>
                                        <% } %>
                                      <% }); %>
                                      
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                    </div>
                </div>

            </div>
            
        </div>
      </div>

      <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>